*.o
*.expand
*.gcda
*.gcno
/tests/oscdispatcher
/tests/oscparser
/tests/oscparser_afl
/tests/oscserver
/tests/oscutils_addr_split
/tests/oscutils_addr_split_afl
/tests/oscutils_pattern_match
/tests/oscutils_pattern_match_afl
coverage.info
/Makefile
/cmake_install.cmake
/install_manifest.txt
/CMakeFiles
/CMakeCache.txt
